# Python
__pycache__/
*.py[cod]
*.pyo

# Buildozer / Android build files
.buildozer/
bin/

# Build logs
*.log

# Virtual environments
.venv/
venv/
env/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db